*{
    padding: 0;
    margin: 0;

}
img{
    background-size: cover;
    width: 100%;
    margin: 15px 0;
   height: 400px;
    border-radius: 6px;
  
}
nav{
   
    padding: 15 px 30px;
    margin: 30px 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
   align-items: center;
   width: 90%;
  
}

nav ul li{
  list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 16px;
}
nav ul a:hover{
    color:#000 ;
   
    font-weight: bold;
    
}

body{
  
    color: #333;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin: 10px 0;
}
main{ 
    
    color: #333;
    padding-top:10px ;
}
p{
    padding: 10px;
    font-size:1rem; 
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
  p{
    background-color:rgb(235, 235, 235);
    color: #333;
  }
  main{
    background-color:white;
  }
  nav ul{
    flex-direction: column;
  }
 
  h2{
    color: #333;
  }
}
@media screen and (min-width: 600px) {
    main{
        background-color: rgb(253, 247, 247);
    }
    p{
        background-color: rgb(247, 248, 250);
    }
}
@media screen and (min-width: 1200px) {
     p{
        background-color: black;
        color: white;
     }
}